* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.tags {
  background-color: #323437;
  color: #e1e1e3;
  font-family: Monoid Nerd Font;
  font-size: 21px;
}

.uhr {
  background-color: #dcd8cf;
  color: #323437;
  // font-family: Existence Unicase Light;
  font-family: Monoid Nerd Font;
  font-size: 55px;
  padding: 13px;
}

.lock {
  color: #dcd8cf;
  background-color: #323437;
  // font-family: Existence Unicase Light;
  font-family: Monoid Nerd Font;
  font-size: 55px;
  padding: 13px;
}

// Styles on classes
.sidestuff {
  background-color: #323437;
  color: #dcd8cf;
  font-family: Monoid Nerd Font;
  padding-left: 21px;
  padding-right: 21px;
}

.tray {
  background-color: #323437;
  padding-left: 21px;
}

.metric scale trough highlight {
  background-color: #e2b714;
  border-radius: 10px;
}

.metric scale trough {
  background-color: #646669;
  border-radius: 55px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;

  :hover {
    min-height: 13px;
  }
}

.icon {
  font-size: 27px;
}

.icon-small {
  font-size: 19px;
}

.icon-bat {
  font-size: 27px;
}

.icon-smaller {
  font-size: 19px;
  padding-right: 5px;
}

.icon-key {
  font-size: 21px;
}

.icon-ws-layout {
  font-size: 21px;
  padding-left: 21px;
  padding-right: 13px;
}

.icon-time {
  font-size: 21px;
  padding-right: 8px;
}

.time {
  font-family: Monoid Nerd Font Mono;
  font-size: 15px;
  padding-right: 13px;
}

.workspaces button {
  font-size: 21px;
  padding-left: 8px;
  padding-right: 16px;
}

.workspaces button:hover {
  color: #ca4754;
}

.ws-button-mine {
  background-color: #e2b714;
  color: #646669;
}

.ws-button-visible {
  background-color: #646669;
  color: #323437;
}

.ws-button-urgent {
  background-color: #ca4754;
}

.ws-button-busy {
  color: #e2b714;
}

.ws-button {
  color: #646669;
}

.ws-layout {
  font-size: 15px;
  padding-right: 8px;
  padding-top: 4px;
}