* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.tags {
  background-color: #323437;
  color: #e1e1e3;
  font-family: Hasklug Nerd Font Mono;
  font-size: 21px;
}

.uhr {
  all: unset;
  background-color: #dcd8cf;
  color: #323437;
  font-family: Existence Unicase Light;
  font-size: 55px;
  padding: 13px;
}

.notes {
  all: unset;
  background-color: #dcd8cf;
  color: #323437;
  font-family: Existence Unicase Light;
  font-size: 21px;
  padding: 8px;
}

.tooltip {
  background-color: #323437;
}

// Styles on classes (see eww.xml for more information)
.sidestuff {
  background-color: #323437;
  color: #dcd8cf;
  font-family: Hasklug Nerd Font Mono;
  padding-left: 21px;
  padding-right: 21px;
}

.metric scale trough highlight {
  background-color: #e2b714;
  border-radius: 10px;
}
.metric scale trough {
  background-color: #646669;
  border-radius: 55px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;

  :hover {
    min-height: 13px;
  }
}
.icon {
  font-size: 34px;
}
.icon-small {
  font-size: 29px;
}
.icon-smaller {
  font-size: 21px;
}
.icon-key {
  font-size: 34px;
  padding-left: 21px;
}
.icon-ws-layout {
  font-size: 29px;
  padding-left: 21px;
  padding-right: 8px;
}
.icon-time {
  font-size: 29px;
  padding-right: 8px;
}
.time {
  font-size: 17px;
  padding-right: 13px;
}
.workspaces {
  padding-left: 21px;
  padding-right: 21px;
}
.workspaces button {
  font-size: 34px;
  padding-left: 13px;
  padding-right: 13px;
}
.workspaces button:hover {
    color: #ca4754;
}
.ws-button-mine {
  background-color: #e2b714;
  color: #646669;
}
.ws-button-visible {
  background-color: #646669;
  color: #323437;
}
.ws-button-urgent {
  background-color: #ca4754;
  color: #323437;
}
.ws-button-busy {
  color: #e2b714;
}
.ws-button {
  color: #646669;
}
.ws-layout {
  font-size: 17px;
  padding-right: 8px;
  padding-top: 4px;
}
.power{
  font-size: 29px;
  padding-top: 4px;
}
